* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --negro: #181818;
  --blanco: #ebffff;

  --max-width: 1500px;
  --border-radious: 5%;
  --background: #a5f8fc;
  --shadow: #ff5757;
  --background__nav: #22deee;
  --borde: #121212;
  --rojo: red;
  --background-section: #cffcfe;
  --background__nav-icon: #22deee;


  --negro__dark: #121212;
  --blanco__dark: #ebffff;
  --blanco-rojo: #ebffff;
  --blanco__neto: #dcffff;
  --margin__section: 0 53px;
  /* --border-radious-section: 10%; */
  --color-shortcuts: #CFFCFE;
}

.dark-mode {
  --background: #181818 ;
  --borde: #ebffff;
  --background-section: #1E1E20;
  --negro: #181818;
  --blanco: #181818;

  --blanco__neto: #181818;
  --background__nav-icon: gray;

  --shadow: #9cff93;
  --background__nav: #1E1E20;
  --negro__dark: #ebffff;
  --color-shortcuts: gray;
}

body {
  /* background: #181818; */
  background: var(--background);

  /* background-image: url(https://thumbs.dreamstime.com/b/concepto-de-almac%C3%A9n-car%C3%A1cter-masculino-est%C3%A1-escribiendo-en-un-bloc-notas-el-trabajador-hace-inventario-proceso-clasificaci%C3%B3n-178248785.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}  


.content {
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: auto; */
  display: grid;
  place-items: center;
  height: 100vh;
  /* margin: clamp(1rem .5rem, 4vw, 10rem 5rem) */
}

main {
  /* width: min(100%, var(--max-width)); */
  display: grid;
  grid-template-columns: .1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:  
                         'nav__shortcuts  nav__section';
  grid-gap: 2rem;

}


.nav__shortcuts {

  display: grid;
  grid-template-rows: repeat(5,1fr);
  grid-template-areas: 'shortcuts__agregar'
                        'shortcuts__b'
                        'shortcuts__c' 
                        'shortcuts__e' 
                        'shortcuts__d';
  gap: 1rem;

    & i {
      color: red;
    }
}

.nav__section {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: 'section__cpu section__monitor'  
                        'section__teclado section__impresora';
  gap: 1.5rem;
}

.section {
    display: grid;
    grid-template-rows: 1fr .2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'section__image'  
                        'section__options';
    background: var(--background-section);
    border-radius: var(--border-radious);
    box-shadow: rgba(50,50,93,0.25) 0px 2px 5px -1px, rgba(0,0,0,0.3) 0px 1px 3px -1px;



        & .section__image {
          display: flex;
          background: var(--blanco__neto);
          border-radius: var(--border-radious);
          margin: var(--margin__section);
        
        
            & img {
              padding: 0 30px ;
              width: 50%;
              object-fit: contain;
              margin: auto;
            }
        }

        & .section__options{
          border-radius: var(--border-radious);
          margin: var(--margin__section);
          padding-block: .5rem;
          display: grid;
          grid-template-rows: .2fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-areas: 'options__agregar options__movimiento options__dashboardGeneral options__dashboardMovimiento';
          margin: var(--margin__section);
            & i:hover {
                color: var(--rojo);
            }
      }
}










/* MODIFICADORES */
    .--fondo__nav {
      background: var(--background__nav);
      display: flex;
      border-radius: var(--border-radious);
      filter: drop-shadow(2px 4px 1px  #43424269);
      transition: .5s ease;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


      
      & i{
          color: var(--color-shortcuts);
          font-size: clamp(16px, 8vw, 50px);
          filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
      }

      /* & i:hover {
        color: #ffffff;
        animation: girar 2s linear infinite ;
        
      } */
    }

    .--fondo__dark {
      background: var(--negro__dark);
      border: 10px solid #f6ff00;
      border-radius: 50%;
      filter: drop-shadow(2px 4px 1px  #43424269);
        & i {
          color:  #cacf4e;
          font-size: clamp(20px, 4vw, 70px);
          filter: drop-shadow(2px 4px 1px  #43424269);

          }
    }

    .--fondo__dark i:hover{
          color:  #f6ff00;
    }
   
    .--fondo__nav:hover {
      background: var(--rojo);
    }



    .--fondo__section {
      display: flex;
      padding: 2px 4px;
      border-radius: var(--border-radious);
      /* filter: drop-shadow(2px 4px 1px  #43424269); */
      


        & a {
          margin: auto;

        }
        & i{

            margin: auto;
            color: var(--background__nav-icon);

            font-size: clamp(30px, 4vw, 40px);
            /* filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1)); */

        }

        & i:hover {
          color: var(--blanco-rojo);
        }
      
    }

    .shortcuts__d .box:hover {
      color: var(--background);
      animation: rebote .4s ease-in-out;
    }

/* KEYFRAMES */

    @keyframes rebote {
      40% {
        transform: scale(1.4);
      }
      60% {
        transform: scale(0.8);
      }
      80% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);

      }

    }

    @keyframes girar {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }














.nav__shortcuts { grid-area: nav__shortcuts; }
.nav__section { grid-area: nav__section; }
.section__cpu { grid-area: section__cpu;}
.section__monitor { grid-area: section__monitor;}
.section__teclado { grid-area: section__teclado;}
.section__impresora{ grid-area: section__impresora;}
.section__title { grid-area: section__title;}
.section__options { grid-area: section__options; }
.shortcuts__a { grid-area: shortcuts__a}
.shortcuts__b { grid-area: shortcuts__b}
.shortcuts__c { grid-area: shortcuts__c}
.shortcuts__d { grid-area: shortcuts__d}
.shortcuts__e { grid-area: shortcuts__e}



.tooltip {
  position: relative;
}

.tooltip:hover::before {
  content: attr(data-text);
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #000000;
  border-radius: var(--border-radious);
  filter: 16px 14px 10px;
  padding: 2px 10px;
  font-size: 18px;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: opacity .5s;
}

.tooltip::before {
  content: "";
  position: absolute;

  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s;
}











  

  


  @media (width < 700px) {

    main {
      /* grid-template-rows: .2fr 1fr; */
      grid-template-columns: 1fr;
      gap: 20px;
      grid-template-areas: 
                          'nav__shortcuts'
                          'nav__section';
    }

    .nav__shortcuts {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: 'shortcuts__agregar shortcuts__b shortcuts__c shortcuts__e shortcuts__d';
    }

    .nav__section {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4,1fr);
      grid-template-areas:  'section__cpu'
                            'section__monitor'
                            'section__teclado'
                            'section__impresora';

    }

    

  }









  .container {
    display: grid;
    grid-template-areas: "box1""box2";
  }
  
  .box {
    grid-area: box1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .hidden {
    transform: scale(0);
    pointer-events: none;
  }
  
  .box:focus {
    outline: none; 
    transform: scale(0);
  }
  
  .box:focus + #box2 {
    transform: scale(1);
    pointer-events: auto;
  }
  
  #box2:focus {
    outline: none;
    transform: scale(0);
  }
  
  #box2:focus + #box1 {
    transform: scale(1);
    pointer-events: auto;
  }


