*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
:root {
  --negro: #181818;
  --blanco: #ebffff;

  --max-width: 1500px;
  --border-radious: 5%;
  --background: #ebffff;
  --shadow: #f06dff;
  --background__nav: #f06dff;
  --borde: #181818;

  --negro__dark: #181818;
  --blanco__dark: #ebffff;
  --blanco-rojo: #ebffff;
  --blanco__neto: #ebffff;
  --margin__section: 0 53px;
  /* --border-radious-section: 10%; */
}

.dark-mode {
  --background: #181818 ;
  --borde: #ebffff;

  --negro: #181818;
  --blanco: #181818;

  --blanco__neto: #181818;


  --shadow: #ebffff;
  --background__nav: #f06dff;
  --negro__dark: #ebffff;
  --blanco-rojo: red;
}

body {
  /* background: #181818; */
  background: var(--background);
  display: flex;
  justify-content: center;

  /* height: 100dvh; */

}  


.content {
  /* margin: auto; */
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  width: min(100%, var(--max-width));
  display: grid;
  grid-template-columns: .2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:  
                         'nav__shortcuts  nav__section';
  grid-gap: 50px;

}


.nav__shortcuts {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1fr);
  grid-template-areas: 'shortcuts__agregar'
                        'shortcuts__b'
                        'shortcuts__c' 
                        'shortcuts__e' 
                        'shortcuts__d';
  gap: 20px;

    & i {
      color: red;
    }
}

.nav__section {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: 'section__cpu section__monitor'  
                        'section__teclado section__impresora';
  gap: 50px;
}

.section {
    display: grid;
    grid-template-rows: 1fr .2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'section__image'  
                        'section__options';
    grid-gap: 10px;
    padding: 20px 0;
    /* background: #a2f8ff; */
    background: var(--negro);
    border-radius: var(--border-radious);
    box-shadow:16px 14px 10px var(--shadow);



        & .section__image {
          display: flex;
          background: var(--blanco__neto);
          border-radius: var(--border-radious);
          margin: var(--margin__section);
        
        
            & img {
              padding: 0 30px ;
              width: 50%;
              object-fit: contain;
              margin: auto;
            }
        }

        & .section__options{
          border-radius: var(--border-radious);
          margin: var(--margin__section);

        
        
          display: grid;
          grid-template-rows: .2fr;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-areas: 'options__agregar options__movimiento options__dashboardGeneral options__dashboardMovimiento';
          grid-gap: 20px;  
          margin: var(--margin__section);
            & i:hover {
                color: var(--blanco-rojo);
            }
      }
}










/* MODIFICADORES */
    .--fondo__nav {
      background: var(--background__nav);
      display: flex;
      border-radius: var(--border-radious);
      filter: drop-shadow(2px 4px 1px  #43424269);
      transition: .5s ease;
      align-items: center;
      justify-content: center;
      border: 10px solid var(--borde);


      
      & i{
          color: rgb(254, 254, 254);
          font-size: 80px;
          filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));
      }

      /* & i:hover {
        color: #ffffff;
        animation: girar 2s linear infinite ;
        
      } */
    }

    .--fondo__dark {
      background: var(--negro__dark);
      border: 10px solid #f6ff00;
      border-radius: 50%;
      filter: drop-shadow(2px 4px 1px  #43424269);
        & i {
          color:  #cacf4e;
          font-size: 80px;
          filter: drop-shadow(2px 4px 1px  #43424269);

          }
    }

    .--fondo__dark i:hover{
          color:  #f6ff00;
    }
   
    .--fondo__nav:hover {
      background: red;
    }



    .--fondo__section {
      display: flex;
      padding: 2px 4px;
      border-radius: var(--border-radious);
      filter: drop-shadow(2px 4px 1px  #43424269);
      


        & a {
          margin: auto;

        }
        & i{

            margin: auto;
            color: var(--background__nav);

            font-size: 40px;
            filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.1));

        }

        & i:hover {
          color: var(--blanco-rojo);
        }
      
    }

    .shortcuts__d .box:hover {
      color: var(--background);
      animation: rebote .4s ease-in-out;
    }

/* KEYFRAMES */

    @keyframes rebote {
      40% {
        transform: scale(1.4);
      }
      60% {
        transform: scale(0.8);
      }
      80% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);

      }

    }

    @keyframes girar {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }














.nav__shortcuts { grid-area: nav__shortcuts; }
.nav__section { grid-area: nav__section; }
.section__cpu { grid-area: section__cpu;}
.section__monitor { grid-area: section__monitor;}
.section__teclado { grid-area: section__teclado;}
.section__impresora{ grid-area: section__impresora;}
.section__title { grid-area: section__title;}
.section__options { grid-area: section__options; }
.shortcuts__a { grid-area: shortcuts__a}
.shortcuts__b { grid-area: shortcuts__b}
.shortcuts__c { grid-area: shortcuts__c}
.shortcuts__d { grid-area: shortcuts__d}
.shortcuts__e { grid-area: shortcuts__e}



.tooltip {
  position: relative;
}

.tooltip:hover::before {
  content: attr(data-text);
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #000000;
  border-radius: var(--border-radious);
  filter: 16px 14px 10px;
  padding: 2px 10px;
  font-size: 18px;
  white-space: nowrap;
  opacity: 1;
  visibility: visible;
  transition: opacity .5s;
}

.tooltip::before {
  content: "";
  position: absolute;

  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s;
}











  

  


  @media (width < 700px) {

    .content {
      margin: 0 50px;
    }
    main {
      /* grid-template-rows: .2fr 1fr; */
      grid-template-columns: 1fr;
      gap: 20px;
      grid-template-areas: 
                          'nav__shortcuts'
                          'nav__section';
    }

    .nav__shortcuts {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-template-areas: 'shortcuts__agregar shortcuts__b shortcuts__c shortcuts__e shortcuts__d';
    }

    .nav__section {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4,1fr);
      grid-template-areas:  'section__cpu'
                            'section__monitor'
                            'section__teclado'
                            'section__impresora';

    }

    

  }









  .container {
    display: grid;
    grid-template-areas: "box1""box2";
  }
  
  .box {
    grid-area: box1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .hidden {
    transform: scale(0);
    pointer-events: none;
  }
  
  .box:focus {
    outline: none; 
    transform: scale(0);
  }
  
  .box:focus + #box2 {
    transform: scale(1);
    pointer-events: auto;
  }
  
  #box2:focus {
    outline: none;
    transform: scale(0);
  }
  
  #box2:focus + #box1 {
    transform: scale(1);
    pointer-events: auto;
  }


